.test {
  color: aquamarine;
  background: aqua;
  position: relative; /* Assurez-vous que .test a une position relative pour que .mysvg se positionne correctement à l'intérieur. */
  overflow: hidden; /* Assurez-vous que le contenu dépassant de .test est masqué. */
  z-index: -1000;
}

@keyframes moveAnimation {
  0% {
    transform: translateX(-5em);
  }
  100% {
    transform: translateX(100em);
  }
}

/* Appliquer l'animation à l'élément SVG avec la classe "my-svg" */
.mysvg {
  animation: moveAnimation 9s linear infinite;
}
