
body {
    margin: 0;
    font-family: Helvetica Neue, Arial, sans-serif;
    color: #2d2d2d;
}

.main-content {
    display: flex !important;
}

.side-bar {
    height: 100vh;
    transition: width ease-in-out .35s;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.side-bar::-webkit-scrollbar {
    display: none;
}

.language-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
    z-index: 2;
}

.language-button {
    width: fit-content;
    min-width: 2vw;
    margin-left: 5px;

    background-color: #89a8ce;
    border: 2px solid #422800;
    border-radius: 5px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    padding: 0 12px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.language-button:hover {
    background-color: #fff;
}

.language-button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

.temperature-container {
    display: flex;
    padding: 10px;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
}

.Santa{
    z-index: 1;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.help-button {
    width: fit-content;
    margin-left: 5px;
    background-color: #89a8ce;
    border: 2px solid #422800;
    border-radius: 5px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    padding: 0 12px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.margin-5 {
    margin: 5px !important;
}

.help-button:hover {
    background-color: #fff;
}

.help-button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

.temperature-container {
    display: flex;
    padding: 10px;
    font-size: 1.2em;
}

.iceberg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: width ease-in-out .35s;
    background-color: #dadfef;

}

.errorText {
    color: red;

    
}

.game-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    padding: 10px 20px;
}

.table-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.table {
    background-color: white;
    width: 20vw;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-radius: 5px;
    padding: 8px;
}

.table > tbody {
    text-align: center;
}

.spacer-bottom-5 {
    margin-bottom: 5vh;

}

.prix-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
}

.alert-stp {
    position: absolute;
    bottom: 10px;
    right: 10px;
}